$body-font-family: Arial, sans-serif;
$root-font-size: 15px;

// dark color scheme
$border-color: $grey-dk-200;

$body-text-color: $grey-lt-300;
$body-heading-color: $grey-lt-000;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: $grey-dk-000;

$btn-primary-color: $blue-200;
$base-button-color: $grey-dk-250;

$code-background-color: $grey-dk-250;
$search-background-color: $grey-dk-250;
$table-background-color: $grey-dk-250;
$feedback-color: darken($sidebar-color, 3%);

// mustard coloured hyperlinks
$link-color: #d2982f;
// total black background
$body-background-color: #000000;
$sidebar-color: #000000;
