<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Rijksmuseum.github.io : Documentation for Rijksmuseum api's" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Rijksmuseum.github.io</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/Rijksmuseum">View on GitHub</a>

          <h1 id="project_title">Rijksmuseum.github.io</h1>
          <h2 id="project_tagline">Documentation for Rijksmuseum api's</h2>

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
 {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    <script>
var GoogleAnalytics = (function () {
  "use strict";

  function init() {
    (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();

    //settings copypasta from the old site

    // Algemeen
    _gaq.push(["_setCookieTimeout", 2592000]);
    _gaq.push(["_setAllowAnchor", true]);

    // Externe domeinen
    _gaq.push(["_setAllowLinker", true]);
    _gaq.push(["_setDomainName", "www.rijksmuseum.nl"]);

    // Voor elk zoekwoord dat geen andere campagnes mag overschrijven
    _gaq.push(["_addIgnoredOrganic", "rijksmuseum amsterdam"]);
    _gaq.push(["_addIgnoredOrganic", "www.rijksmuseum.nl"]);
    _gaq.push(["_addIgnoredOrganic", "rijksmuseum"]);
    _gaq.push(["_addIgnoredOrganic", "amsterdam rijksmuseum"]);
    _gaq.push(["_addIgnoredOrganic", "rijks museum"]);

    // Handmatige lijst met zoekmachines instellen
    _gaq.push(["_clearOrganic"]);
    // Google
    _gaq.push(["_addOrganic", "images.google", "prev"]);
    _gaq.push(["_addOrganic", "blogsearch.google.nl", "q"]);
    _gaq.push(["_addOrganic", "news.google.nl", "q"]);
    _gaq.push(["_addOrganic", "maps.google.nl", "q"]);
    _gaq.push(["_addOrganic", "video.google.nl", "q"]);
    _gaq.push(["_addOrganic", "blogsearch.google.be", "q"]);
    _gaq.push(["_addOrganic", "news.google.be", "q"]);
    _gaq.push(["_addOrganic", "maps.google.be", "q"]);
    _gaq.push(["_addOrganic", "video.google.be", "q"]);
    _gaq.push(["_addOrganic", "blogsearch.google.com", "q"]);
    _gaq.push(["_addOrganic", "news.google.com", "q"]);
    _gaq.push(["_addOrganic", "maps.google.com", "q"]);
    _gaq.push(["_addOrganic", "video.google.com", "q"]);
    _gaq.push(["_addOrganic", "google.nl", "q"]);
    _gaq.push(["_addOrganic", "google.be", "q"]);
    _gaq.push(["_addOrganic", "google.com", "q"]);
    _gaq.push(["_addOrganic", "google.de", "q"]);
    _gaq.push(["_addOrganic", "google.co.uk", "q"]);
    _gaq.push(["_addOrganic", "google", "q"]);
    // Eigen lijst
    _gaq.push(["_addOrganic", "cuil", "q"]);
    _gaq.push(["_addOrganic", "blueyonder", "q"]);
    _gaq.push(["_addOrganic", "chello", "q1"]);
    _gaq.push(["_addOrganic", "dmoz", "search"]);
    _gaq.push(["_addOrganic", "dogpile", "q"]);
    _gaq.push(["_addOrganic", "home.nl", "q"]);
    _gaq.push(["_addOrganic", "hotbot", "query"]);
    _gaq.push(["_addOrganic", "ixquick.com", "query"]);
    _gaq.push(["_addOrganic", "kobala", "qr"]);
    _gaq.push(["_addOrganic", "metaspider.nl", "query"]);
    _gaq.push(["_addOrganic", "myway.com", "searchfor"]);
    _gaq.push(["_addOrganic", "mywebsearch.com", "searchfor"]);
    _gaq.push(["_addOrganic", "netmenu.metaseek.nl", "qry"]);
    _gaq.push(["_addOrganic", "search.icq.com", "q"]);
    _gaq.push(["_addOrganic", "startgoogle.startpagina.nl", "q"]);
    _gaq.push(["_addOrganic", "vinden.nl", "q"]);
    _gaq.push(["_addOrganic", "vindex.nl", "search_for"]);
    _gaq.push(["_addOrganic", "web.nl", "zoekwoord"]);
    _gaq.push(["_addOrganic", "zoek.nl", "q"]);
    _gaq.push(["_addOrganic", "zoeken.nl", "query"]);
    _gaq.push(["_addOrganic", "zoeken.track.nl", "qr"]);
    _gaq.push(["_addOrganic", "zoekhet.nl", "query"]);
    _gaq.push(["_addOrganic", "zoeknu.nl", "Keywords"]);
    _gaq.push(["_addOrganic", "ziggo.nl", "q"]);
    _gaq.push(["_addOrganic", "hetnet.nl", "keyword"]);
    // Standaard
    _gaq.push(["_addOrganic", "yahoo", "p"]);
    _gaq.push(["_addOrganic", "msn", "q"]);
    _gaq.push(["_addOrganic", "bing", "q"]);
    _gaq.push(["_addOrganic", "aol", "query"]);
    _gaq.push(["_addOrganic", "aol", "encquery"]);
    _gaq.push(["_addOrganic", "lycos", "query"]);
    _gaq.push(["_addOrganic", "ask", "q"]);
    _gaq.push(["_addOrganic", "altavista", "q"]);
    _gaq.push(["_addOrganic", "netscape", "query"]);
    _gaq.push(["_addOrganic", "cnn", "query"]);
    _gaq.push(["_addOrganic", "looksmart", "qt"]);
    _gaq.push(["_addOrganic", "about", "terms"]);
    _gaq.push(["_addOrganic", "mamma", "query"]);
    _gaq.push(["_addOrganic", "alltheweb", "q"]);
    _gaq.push(["_addOrganic", "gigablast", "q"]);
    _gaq.push(["_addOrganic", "voila", "rdata"]);
    _gaq.push(["_addOrganic", "virgilio", "qs"]);
    _gaq.push(["_addOrganic", "live", "q"]);
    _gaq.push(["_addOrganic", "baidu", "wd"]);
    _gaq.push(["_addOrganic", "alice", "qs"]);
    _gaq.push(["_addOrganic", "yandex", "text"]);
    _gaq.push(["_addOrganic", "najdi", "q"]);
    _gaq.push(["_addOrganic", "aol", "q"]);
    _gaq.push(["_addOrganic", "club-internet", "query"]);
    _gaq.push(["_addOrganic", "mama", "query"]);
    _gaq.push(["_addOrganic", "seznam", "q"]);
    _gaq.push(["_addOrganic", "search", "q"]);
    _gaq.push(["_addOrganic", "wp", "szukaj"]);
    _gaq.push(["_addOrganic", "onet", "qt"]);
    _gaq.push(["_addOrganic", "netsprint", "q"]);
    _gaq.push(["_addOrganic", "google.interia", "q"]);
    _gaq.push(["_addOrganic", "szukacz", "q"]);
    _gaq.push(["_addOrganic", "yam", "k"]);
    _gaq.push(["_addOrganic", "pchome", "q"]);
    _gaq.push(["_addOrganic", "kvasir", "searchExpr"]);
    _gaq.push(["_addOrganic", "sesam", "q"]);
    _gaq.push(["_addOrganic", "ozu", "q"]);
    _gaq.push(["_addOrganic", "terra", "query"]);
    _gaq.push(["_addOrganic", "nostrum", "query"]);
    _gaq.push(["_addOrganic", "mynet", "q"]);
    _gaq.push(["_addOrganic", "ekolay", "q"]);
    _gaq.push(["_addOrganic", "search.ilse", "search_for"]);


  }
  return {
    init: init
  };

})();



    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', "UA-2198010-1"]);
    _gaq.push(['_trackPageview']);

    $(GoogleAnalytics.init)

</script>

  </body>
</html>
